main {
    margin-top: 140px;
}

li {
    display: flex;

    .content {
        margin: auto 0;
    }

    .button {
        margin-right: 0;
        margin-left: auto;
    }
}

.users-list-empty {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}
